Repository wri/gfw, pull requests merged in 2020-05, with the labels that each got.

#3969 The fires within
  app/javascript/components/widget/component.jsx
  app/javascript/components/widgets/forest-change/fires-within/index.js
  app/javascript/components/widgets/forest-change/fires-within/selectors.js
  app/javascript/components/widgets/forest-change/tree-loss-within/index.js
  app/javascript/components/widgets/forest-change/tree-loss-within/selectors.js
  app/javascript/components/widgets/manifest.js
  app/javascript/data/colors.json
  app/javascript/services/analysis-cached.js
Labels: WIP, fires-widgets

#3970 Feature/historical MODIS fire alerts widget
  app/javascript/components/widgets/forest-change/fires-alerts-historical/index.js
  app/javascript/components/widgets/forest-change/fires-alerts-historical/selectors.js
  app/javascript/components/widgets/manifest.js
  app/javascript/components/widgets/utils/data.js
  app/javascript/services/analysis-cached.js
Labels: WIP, fires, unscoped

#3968 Feature/fires topics
  app/javascript/app/router.js
  app/javascript/components/header/config.js
  app/javascript/components/ui/button/button-component.jsx
  app/javascript/components/ui/card/card-component.jsx
  app/javascript/pages/topics/assets/fires/animations/birds1.json
  app/javascript/pages/topics/assets/fires/animations/heat_sun3.json
  app/javascript/pages/topics/assets/fires/animations/scene1.json
  app/javascript/pages/topics/assets/fires/animations/scene2.json
  app/javascript/pages/topics/assets/fires/animations/scene3.json
  app/javascript/pages/topics/assets/fires/animations/scene4.json
  app/javascript/pages/topics/assets/fires/cards/areas.png
  app/javascript/pages/topics/assets/fires/cards/forest-fire.png
  app/javascript/pages/topics/assets/fires/cards/forest-watcher.png
  app/javascript/pages/topics/assets/fires/cards/map-layer.png
  app/javascript/pages/topics/assets/fires/cards/widget-cumulative.png
  app/javascript/pages/topics/assets/fires/cards/widget-stats.png
  app/javascript/pages/topics/assets/fires/intro/intro-fires.png
  app/javascript/pages/topics/assets/fires/slides/fires1.png
  app/javascript/pages/topics/assets/fires/slides/fires2.png
  app/javascript/pages/topics/assets/fires/slides/fires3.png
  app/javascript/pages/topics/assets/fires/slides/fires4.png
  app/javascript/pages/topics/components/topics-footer/component.jsx
  app/javascript/pages/topics/components/topics-header/topics-intro/component.jsx
  app/javascript/pages/topics/components/topics-slide/topics-image/component.jsx
  app/javascript/pages/topics/config/climate.js
  app/javascript/pages/topics/config/fires.js
  app/javascript/pages/topics/index.js
  config/webpack/loaders/assets.js
Labels: fires

#3985 Feat/fires adm rank
  app/javascript/app/layouts/root/selectors.js
  app/javascript/components/analysis/component.jsx
  app/javascript/components/analysis/components/chose-analysis/component.jsx
  app/javascript/components/analysis/selectors.js
  app/javascript/components/aoi-card/styles.scss
  app/javascript/components/forms/area-of-interest/selectors.js
  app/javascript/components/forms/components/select/styles.scss
  app/javascript/components/map-menu/components/sections/my-gfw/component.jsx
  app/javascript/components/map/selectors.js
  app/javascript/components/numbered-list/numbered-list-component.jsx
  app/javascript/components/ui/card/card-component.jsx
  app/javascript/components/ui/dropdown/components/item/component.jsx
  app/javascript/components/widget/components/widget-numbered-list/component.jsx
  app/javascript/components/widgets/fires/fires-alerts-cumulative/index.js
  app/javascript/components/widgets/fires/fires-alerts-cumulative/selectors.js
  app/javascript/components/widgets/fires/fires-alerts-historical/index.js
  app/javascript/components/widgets/fires/fires-alerts-historical/selectors.js
  app/javascript/components/widgets/fires/fires-alerts/index.js
  app/javascript/components/widgets/fires/fires-alerts/selectors.js
  app/javascript/components/widgets/fires/fires-ranked/index.js
  app/javascript/components/widgets/fires/fires-ranked/selectors.js
  app/javascript/components/widgets/fires/fires-within/index.js
  app/javascript/components/widgets/fires/fires-within/selectors.js
  app/javascript/components/widgets/fires/fires/index.js
  app/javascript/components/widgets/fires/fires/selectors.js
  app/javascript/components/widgets/forest-change/fires-ranked/index.js
  app/javascript/components/widgets/forest-change/fires-ranked/selectors.js
  app/javascript/components/widgets/forest-change/glad-alerts/selectors.js
  app/javascript/components/widgets/manifest.js
  app/javascript/components/widgets/utils/data.js
  app/javascript/data/units.json
  app/javascript/pages/about/section-projects/section-projects-component.jsx
  app/javascript/pages/dashboards/component.jsx
  app/javascript/pages/dashboards/components/header/component.jsx
  app/javascript/pages/dashboards/components/header/selectors.js
  app/javascript/pages/search/component.jsx
  app/javascript/pages/topics/components/topics-footer/component.jsx
  app/javascript/pages/topics/components/topics-header/topics-intro/component.jsx
  app/javascript/pages/topics/config/climate.js
  app/javascript/pages/topics/config/fires.js
  app/javascript/pages/topics/config/water.js
  app/javascript/providers/areas-provider/actions.js
  app/javascript/services/analysis-cached.js
  app/javascript/utils/data.js
Labels: WIP, fires-widgets

#3983 Fix/aoi cards fetch
  app/javascript/components/aoi-card/component.jsx
  app/javascript/services/alerts.js
  app/javascript/services/analysis-cached.js
Labels: WIP

#3991 Feature/historical fires
  app/javascript/components/widgets/fires/fires-alerts-historical/index.js
  app/javascript/components/widgets/fires/fires-alerts-historical/selectors.js
  app/javascript/components/widgets/manifest.js
  app/javascript/data/analysis-datasets.json
  app/javascript/services/analysis-cached.js
Labels: WIP, fires-widgets

#3993 Feature/zero fill loss years
  app/javascript/components/widgets/climate/emissions-deforestation/index.js
  app/javascript/components/widgets/climate/emissions-deforestation/selectors.js
  app/javascript/components/widgets/forest-change/tree-loss-located/index.js
  app/javascript/components/widgets/forest-change/tree-loss-pct/index.js
  app/javascript/components/widgets/forest-change/tree-loss-pct/selectors.js
  app/javascript/components/widgets/forest-change/tree-loss-plantations/index.js
  app/javascript/components/widgets/forest-change/tree-loss-plantations/selectors.js
  app/javascript/components/widgets/forest-change/tree-loss-ranked/index.js
  app/javascript/components/widgets/forest-change/tree-loss-tsc/index.js
  app/javascript/components/widgets/forest-change/tree-loss/index.js
  app/javascript/components/widgets/forest-change/tree-loss/selectors.js
  app/javascript/components/widgets/utils/data.js
Labels: WIP, tcl-2019

#3995 Add landmark key to land-categories
  app/javascript/data/land-categories.js
Labels: deploy

#3999 Fires topic card in map explore
  app/javascript/assets/images/fires.jpg
  app/javascript/components/map-menu/components/sections/explore/sections.js
Labels: WIP
